<?xml version="1.0" encoding="utf-8"?>
<Configuration status="OFF">
	<Appenders>
		<Console name="default" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss}] [%C{1}] [%c] [%p] %m%n}{FATAL=RED, ERROR=BRIGHT RED, WARN=YELLOW, INFO=BRIGHT WHITE, DEBUG=WHITE}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="default"/>
		</Root>
	</Loggers>
</Configuration>