# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up JDK
      uses: actions/setup-java@v1.4.3
      with:
        java-version: 8
        architecture: x64
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Upload target
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: MinecraftDecompiler-with-java${{ matrix.architecture }}
        path: MinecraftDecompiler.jar
    - name: Deploy to GitHub Packages
      run: mvn deploy -Dregistry=https://maven.pkg.github.com/${{ GITHUB.REPOSITORY }} -Dtoken=${{ secrets.GITHUB_TOKEN }}
